* {
	margin: 0px;
  	padding: 0px;	
}

html {
	box-sizing: border-box;
	height: 100%;
  	font-family: 'Century Gothic';
  	font-weight: bold;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  	height: 100%;
}

.container {
	border: 2px solid green;
	min-height: 100%;
	min-width: 360px;
	/*inner*/
	display: flex;
}

.page {
	border: 2px solid red;
	margin: 2px;
	margin-left: 204px;
	transition: margin-left 2s;
	/*inner*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	border: 2px solid green;
	margin: 2px;	
	background: rgba(100, 200, 10, 0.1);
	/*outer*/
	flex: 1;
	/*inner*/
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

.content_block {
	border: 2px solid green;
	height: 100px;
	min-width: 265px;
	background: rgba(50, 100, 20, 0.3);
	margin: 10px;
	/*outer*/
	flex: 1 0 30%;
	/*inner*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	border: 2px solid orange;
	height: 100px;
	background: rgba(200, 50, 10, 0.2);
	margin: 2px;
	/*inner*/	
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	border: 2px solid orange;
	height: 100px;
	background: rgba(250, 250, 10, 0.2);
	margin: 2px;
	/*inner*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu_big {
	position: fixed;
	border: 2px solid blue;
	height: calc(100% - 8px);
	width: 200px;	
	background-color: rgba(100, 100, 255, 1);
	margin: 2px;
	transition: margin-left 2s;	
	padding: 20px;
	padding-top: 50px;
	z-index: 1;
}

.menu_big ul {
	list-style: none;
}

.menu_small {
	position: fixed;
	border: 2px solid blue;
	height: calc(100% - 8px);
	width: 50px;	
	background-color: rgba(100, 100, 255, 1);
	margin: 2px;
	margin-left: -52px;
	transition: margin-left 1s;
	transition-delay: 0.7s;
}

.menu_item {
	border-bottom: 2px dotted rgba(200, 200, 200, 1);
	padding: 15px;
	padding-left: 20px;
}

.menu_item:last-of-type{
	border-bottom: 0px;
}

.menu_item a {
	text-decoration: none;
	color: rgba(255, 255, 255, 1);
}

.menu_small .menu_item {
	background: rgba(255, 255, 255, 1);	
	height: 3px;
	margin: 5px;
	margin-top: 15px;
	padding: 0px;
}

.menu:hover .menu_big{
	margin-left: 2px;
}

.menu:hover .menu_small {
	margin-left: -52px;
}

@media (max-width: 768px) {

	.menu_big {
		margin-left: -202px;
		transition: margin-left 2s;
	}

	.menu_small {
		margin-left: 2px;
		transition: margin-left 1s;
		transition-delay: 0.7s;
	}

	.page {
		margin-left: 54px;
	}

	.content_block {
		flex: 1 0 50%;
	}
}